.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-family: var(--logo-font-family);
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__main {
  color: var(--logo-main-color);
}

.logo__second {
  color: var(--logo-header-color);
}

.navigation__list {
  display: flex;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  display: flex;
  /* align-items: center; */
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-color);
  display: block;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.navigation__list .link.current {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}
